
{
    "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "rules": {
      "no-console": "off",
      "strict": ["error", "global"],
      "curly": "warn",
      "comma-dangle": [2, "only-multiline"]
    },
    "extends": ["react-app", "plugin:jsx-a11y/recommended"],
    "plugins": ["jsx-a11y"]
  }