{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "react-app",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "indent": ["error", 2],
        "switch-colon-spacing": ["error", {"after": true, "before": false}],
        "no-undef": "off",
        "no-console": "off",
        "no-unused-vars": "off",
        "new-cap": [0],
        "prefer-promise-reject-errors": [0],
        "comma-dangle": [2, "only-multiline"],
        "space-before-function-paren": [2, "never"],
        "no-floating-decimal": [0],
        "react/prop-types": [0]
    }
}